<table>
    <tr>
        <td><a href="https://brianzhang2016.github.io/Brian-Individual/">Home</a></td>
        <td><a href="https://brianzhang2016.github.io/Brian-Individual/pages/notes">Notes</a></td>
        <td><a href="https://brianzhang2016.github.io/Brian-Individual/pages/datastructure">Data Structure</a></td>
        <td><a href="https://brianzhang2016.github.io/Brian-Individual/pages/createtask">Create Task</a></td>
        <td><a href="https://brianzhang2016.github.io/Brian-Individual/pages/studyplan">Study Plan</a></td>
        <td><a href="https://brianzhang2016.github.io/Brian-Individual/pages/runtime">Replit</a></td>
    </tr>
</table>
<hr>
